//COLOR
$main--color: #1565c0;
$text-color: rgb(43, 40, 40);
$hover-text-color: rgb(255, 228, 196);
$price-color: rgb(255, 251, 0);
$old-price-color: rgb(199, 0, 57);

/*========== Font ==========*/
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
