@mixin border($size, $color, $raduis: none) {
  border: $size solid $color;
  border-radius: $raduis;
}

@mixin flexCenter($justifyContent: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: $justifyContent;
}
