@import '../../../styles/abstract/constants';
@import '../../../styles/abstract/mixins';

.product {
  list-style: none;
  width: 25%;
  cursor: pointer;
  opacity: 0;
  animation: scaleAni 2s forwards;

  &__price {
    color: $main--color;
    font-weight: bold;
    margin: 0.5rem;
  }
  &__discount {
    color: $old-price-color;
    text-decoration: line-through;
    font-size: 12px;
    margin: 0.3rem;
  }
}
@keyframes scaleAni {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
