.price {
  color: #1565c0;
  font-weight: bold;
  padding-bottom: 10px;

  &__discount {
    font-weight: normal;
    color: red;
    text-decoration: line-through;
    font-size: 12px;
  }
}
