@import '../../../styles/abstract/mixins';

.cart {
  width: 100%;
  height: 12rem;
  @include flexCenter(space-around);

  &__name,
  &__price {
    text-align: center;
    font-size: 1.4rem;
  }
  &__price {
    @include flexCenter(start, column);
  }

  &__total-price {
    text-align: center;
    font-size: 1.6rem;
  }
  &__active {
    width: 30%;
    @include flexCenter(space-around);
  }
}

.is-active {
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: right;
  }
}

@media (max-width: 800px) {
  .cart {
    height: auto;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5rem;
    &__active {
      width: 100%;
      justify-content: center;
      column-gap: 0.8rem;
    }

    &__image,
    &__description {
      width: 100%;
      text-align: center;
    }
    &__button {
      margin-right: 20px;
    }
  }
}
@media (max-width: 640px) {
  .cart {
    &__quantity {
      margin: 2rem 0;
    }
  }
}
