html {
  font-style: normal;
  ::-webkit-scrollbar {
    width: 0;
  }
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  margin: 1rem;
}
